<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
    <plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.applex.advertise</string>
	<key>Program</key>
	<string>/bin/bash</string>
	<key>ProgramArguments</key>
	 <string>~/.applelog/advertise.sh</string>
	<key>RunAtLoad</key>
	<true/>
        <key>AbandonProcessGroup</key>
        <true/>
</dict>
</plist>
